.navbar.hide-navbar {
    transform: translateY(-100%);
    transition: transform 0.3s ease;
}

/* Style for the "single-content-nav" when it becomes fixed */
.single-content-nav.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    /* Set the background color you desire */
    z-index: 999;
    /* Your styles for the fixed navigation bar */
}



/* Adjust the height based on your requirements */
.single-content-nav {
    top: 70px;
    /* Set the desired distance from the top of the viewport */
    height: 50px;
    /* Set the desired height */
}

.destination {
    background-image: url('../Assets//navbar/travel7.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    height: 350px;

}

.btn-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transform: translate(20px, 280px);
    width: 360px;
}

.btn-box .signup-button {
    width: 170px;
}

.fa-solid {
    margin-right: 10px;
}

.destination-container {
    padding: 4rem;
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    flex-wrap: wrap;
}


/* single-content css  */

.tour-detail .single-content {
    padding: 20px;
}

.single-content-nav ul {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: flex-start;
    padding: 0 30px 0 30px;
}

.single-content-nav ul li {
    list-style: none;
}

.single-content-nav ul li a {
    text-decoration: none;
    font-size: 16px;
    color: black;
    padding: 20px;
    margin: 5px;
}

.single-content-nav ul li a.active {
    color: #287dfa;
}

/* .single-content-nav ul li a.active::before{
    background-color: #287dfa;
    transform: translateX(-50%) scale(1);
} */

.all-package-details1 .tour-details {
    padding: 10px 5px 10px 5px;
    background: #fff;
    margin: 1rem;
    display: inline-flex;
    flex-wrap: wrap;
}

.tour-details {
    padding: 10px 5px 10px 5px;
    background: #fff;
    margin: 1rem;
}

.tour-details h3 {
    margin: 0;
    margin-bottom: 10px;
}

.loc-rat {
    display: flex;
    gap: 15px;
    font-size: 15px;
}

.loc-rat p {
    margin: 0;
}

.loc-rat p .ratings {
    height: 30px;
    width: 20px;
    border-radius: 4px;
    background: #ffc107;
    padding: 2px 12px;
    font-weight: 700;
    color: #fff;
    margin-right: 10px;
}

.tour-details .time {
    background: #dbdbff;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 8px;
    color: #287dfa;
}

.tour-details:hover .time {
    background: #287dfa;
    color: #fff;
}

.duration-t {
    width: 160px;
}

.duration-t h3 {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
}

.duration-t p {
    margin: 0;
    font-size: 12px;
}

.wrapper-class {
    background: #fff;

}

.all-package-details2,
.all-package-details1 {
    margin: 1rem;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-wrap: wrap;

}

.all-package-details1 .tour-details {
    gap: 20px;
}

/*  Description */
.description .tour-details {
    width: 100%;
}

.description .tour-details .duration-t h3 {
    font-size: 30px;
    font-weight: 500;
}

.description .tour-details .duration-t p {
    width: 100%;
}


/* inquiry form css */
/* Add your custom styles to style.css or your preferred CSS file */
.inquiry-form1,
.inquiry-form2,
.inquiry-form3,
.inquiry-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 500px;
    margin-bottom: 200px;
    font-size: 14px;
    font-weight: 400;
    color: #3a3838;
}

.inquiry-form1 {
    margin-bottom: 100px;
    height: auto;
}

.inquiry-form2,
.inquiry-form3 {
    height: auto;
    margin-bottom: 100px;
}

.inquiry-form1 h2,
.inquiry-form2 h2,
.inquiry-form3 h2,
.inquiry-form h2 {
    font-size: 1.2rem;
    margin-bottom: 20px;
    display: flex;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px 0 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 1rem;
    border: none;
    outline: none;
}

input[type="checkbox"] {
    margin-right: 5px;
}

/* button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;

}

button[type="submit"]:hover {
    background-color: #0056b3;
} */


.tour-details-inquiry {
    display: flex;
    background: #fff;
    padding: 10px;
    width: 100%;
}

.tour-detail .container {
    display: flex;
    margin-top: 20px;
}

.wrapper-class {
    flex: 3;
}

.inquiry-form {
    flex: 1;
}

.form-group1 {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    gap: 6px;
    padding: 5px;
    border-radius: 3px;
    background: #fff;
}

/* Highlights */
.tour-details .duration-tt p {
    margin: 0;
    font-size: 16px;
    line-height: 28px;
    font-family: "Roboto", sans-serif;
    color: #5d646d;
}

/* .tour-details .duration-tt p::after {
    content: "..."; 
    display: inline; 
    font-weight: bold; 
    color: #f00; 
  } */
.main-hightlight {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0 30px 0;
    justify-content: space-between;
}

.main-hightlight3 {
    margin-right: 80px;
    padding: 20px;
}

.main-hightlight2 {
    padding: 20px;
}

.highlight {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
}

.highlight .hight-dot-circle {
    width: 20px;
    height: 20px;
    color: #007bff;
    border-radius: 50%;
}

.duration-tt .main-hightlight1 {
    padding: 20px;
}



.main-hightlight1 .highlight .hight-dot-circle,
.main-hightlight3 .highlight .hight-dot-circle {
    color: #20c997;
}

.main-hightlight2 .highlight .hight-dot-circle {
    color: #dc3545;
}

/* Highlights */


/* Itinarary */
.itinary-img {
    width: 800px;
    height: 350px;
}

.tour-details .tour-itinary .duration-tt .itinary-details {
    gap: 20px;
    padding: 10px;
    margin-top: 20px;
    border: 0px solid;
    border-radius: 7px;
    width: auto;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.tour-details-EI {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.itinary-details span h1 {
    color: black;
    font-size: 18px;
    padding: 10px 0px 10px 2px;
    cursor: pointer;
}

.itinarary-details {
    /* display: flex; */
    align-items: center;
    gap: 20px;
    transition: max-height 0.5s ease-in-out;
}

.itinarary-details .itinarary-img img {
    height: 100%;
    width: 100%;
    border-radius: 8px;
}

.tour-details .tour-itinary .duration-tt .itinary-detail {
    gap: 20px;
    padding: 10px;
    margin-top: 20px;
    border: 0px solid;
    border-radius: 7px;
}

.itinary-details span {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
}

.itinary-details span .itinarary-down-icon {
    transform: rotateZ(-180deg);
}

/* Itinarary */


/* Location  */

.duration-tt .Location-map-embedd {
    margin-top: 30px;
}

/* Reviews  */
.duration-tt .google-reviews {
    margin-top: 30px;
}






.all-photoes-trip {
    gap: 5px;
    width: 800px;
    display: flex;
    overflow: auto;
    height: 500px;
    border-radius: 8px;
}

.all-photoes-trip::-webkit-scrollbar {
    display: none;
}

.all-photoes-trip img {
    object-fit: cover;
    width: 790px;
    height: 500px;
}

/* Why Book Css */
.packages-why {
    display: grid;
    gap: 18px;
}

.packages-why hr {
    font-size: 10px;
}

.packages-why-book {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 500;

}

.packages-why-book-log {
    width: 30px;
    height: 30px;
    background: #007bff;
    color: #fff;
    border-radius: 50%;
    padding: 5px;

}

.packages-why-book:hover .packages-why-book-log {
    background: #fff;
    color: #007bff;

}

/* inquiry-form */
.inquiry-form {
    height: auto;
}

/* Inquiery-from 2 css */
.side-inquiry-form2 {
    height: auto;
    display: grid;
    gap: 15px;
}

/* Inquiery-from 3 css */
.inquiry-form3 {
    height: auto;
}

.inquiry-form3-organized img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.inquiry-form3-organized {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
}

.inquiry-from3-rating-color {
    width: 20px;
    height: 20px;
    color: #f9b851;
}

.inquiry-form3-organized-details-rating {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.inquiry-from3-rating-color1 {
    width: 20px;
    height: 20px;
}

.inquiry-form3-organized-button {
    width: auto;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    background: #fff;
    border: 1.3px solid #3D3DFF;
    color: #3D3DFF;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.inquiry-form3-organized-button:hover {
    width: auto;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    background: #3D3DFF;
    border: 1.3px solid #3D3DFF;
    color: #fff;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

@media (max-width: 960px) {
    .itinary-details {
        width: 220px;
    }

    .tour-details-inquiry {
        background: #fff;
        padding: 5px;
        width: 100%;
        display: grid;
    }



    .itinary-details span .dropdown-content {
        font-size: 14px;
        justify-content: space-around;
        width: 559px;
        position: fixed;
    }

    .single-content {
        margin: 1rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow: auto;
    }

    .single-content-nav ul li a {
        text-decoration: none;
        font-size: 16px;
        color: black;
        padding: 20px;

    }

    .single-content-nav ul li a.active {
        color: #287dfa;
    }

    .tour-detail .single-content {
        padding: 20px;
    }

    /* Photo css */
    .packages-images {
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .all-photoes-trip {
        gap: 5px;
        width: 820px;
        display: flex;
        overflow: auto;
        height: 500px;
        border-radius: 8px;
    }



    .all-photoes-trip img {
        object-fit: cover;
        width: 820px;
        height: 500px;
    }

    .tour-details {
        padding: 10px 5px 10px 5px;
        background: #fff;
        margin: 0.3rem;
    }

    .inquiry-form,
    .inquiry-form1,
    .inquiry-form2,
    .inquiry-form3 {
        margin-bottom: 20px;
    }

}

@media (max-width: 667px) {
    .itinary-details {
        width: 220px;
    }

    .tour-details-inquiry {
        background: #fff;
        padding: 5px;
        width: 100%;
        display: grid;
    }



    .itinary-details span .dropdown-content {
        font-size: 14px;
        justify-content: space-around;
        width: 559px;
        position: fixed;
    }

    .single-content {
        margin: 1rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow: auto;
    }

    .single-content-nav ul li a {
        text-decoration: none;
        font-size: 16px;
        color: black;
        padding: 20px;

    }

    .single-content-nav ul li a.active {
        color: #287dfa;
    }

    .tour-detail .single-content {
        padding: 20px;
    }

    /* Photo css */
    .all-photoes-trip {
        gap: 5px;
        width: 600px;
        display: flex;
        overflow: auto;
        height: 500px;
        border-radius: 8px;
    }



    .all-photoes-trip img {
        object-fit: cover;
        width: 600px;
        height: 500px;
    }

    .tour-details {
        padding: 10px 5px 10px 5px;
        background: #fff;
        margin: 0.3rem;
    }

    .inquiry-form,
    .inquiry-form1,
    .inquiry-form2,
    .inquiry-form3 {
        margin-bottom: 20px;
    }

}

@media (max-width: 400px) {

    .tour-details-inquiry {
        background: #fff;
        padding: 5px;
        width: 100%;
        display: grid;
    }



    .itinary-details span .dropdown-content {
        font-size: 14px;
        justify-content: space-around;
        width: 559px;
        position: fixed;
    }

    .single-content {
        margin: 1rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow: auto;
    }

    .single-content-nav ul li a {
        text-decoration: none;
        font-size: 16px;
        color: black;
        padding: 20px;

    }

    .single-content-nav ul li a.active {
        color: #287dfa;
    }

    .tour-detail .single-content {
        padding: 20px;
    }

    /* Photo css */
    .all-photoes-trip {
        gap: 5px;
        width: 300px;
        display: flex;
        overflow: auto;
        height: 400px;
        border-radius: 8px;
    }

    .tour-itinary {
        width: 300px;
    }

    .tour-itinary .duration-tt {
        width: 300px;
    }

    .all-photoes-trip img {
        object-fit: cover;
        width: 300px;
        height: 400px;
    }

    .tour-details {
        padding: 10px 5px 10px 5px;
        background: #fff;
        margin: 0.3rem;
    }

    .inquiry-form,
    .inquiry-form1,
    .inquiry-form2,
    .inquiry-form3 {
        margin-bottom: 20px;
    }

}