.rectangle-parent {
    position: relative;
    object-fit: cover;
    margin-top: -4px;
    font-size: 58.51px;
    color: white;
  }
  .rectangle-parent .group-child{
    height: 300px;
    width: 1240.33px;
    object-fit: cover;
  }
  .group-child {
    height: 513px;
    width: 1263px;
}
  .slogans,
.slogans1 {
  position: absolute;
  top: 80px;
  left: calc(50% - 242.5px);
  line-height: 66px;
}
.slogans1 {
  top: 140px;
  left: calc(50% - 236.5px);
  font-size: 25px;
  font-weight: 500;
  color: #d6d6e8;
}
.group-item {
    position: absolute;
    top: 60px;
    left: 370px;
    border-radius: 2.09px;
    width: 83.03px;
    height: 16.87px;
}
.home-wrapper {
  display: flex;
  overflow-x: auto;
  /* gap: 5px; */
}
.home-wrapper::-webkit-scrollbar{
  display: none; 
}


/* scrollbar css */
.home-wrapper {
  padding: 0px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth; /* Add smooth scrolling behavior */
}


.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-300%);
  background: #ffff;
  border-radius: 50%;
  font-size: 27px;
  cursor: pointer;
  z-index: 1;
  width: 40px;
  height: 40px;
  margin: 0 6px 0px 6px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}

.left-button {
  left: 0;
}

.right-button {
  right: 0;
}

/* Hide the scrollbar */
.home-wrapper::-webkit-scrollbar {
  display: none;
}


/* Media queries for responsiveness */
@media (max-width: 768px) {
  .carousel-item {
    width: 200px;
    height: 300px;
  }

  .scroll-button {
    font-size: 20px;
  }
}

/* Styles for smaller screens (e.g., mobile phones) */
@media (max-width: 480px) {
  .carousel-item {
    width: 160px;
    height: 240px;
  }
  
  .scroll-button {
    font-size: 16px;
    top: 38%;
  }
}