.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(199, 199, 199, 0.25);
  padding: 6px;
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
}

.navbar-logo img {
  height: 35px;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 10px;
}

.navbar-item {
  margin-right: 20px;
  text-decoration: none;
}

.navbar-item a {
  text-decoration: none;
  color: #212832;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.navbat-buttons {
  justify-content: space-around;
  display: flex;
  align-items: center;
  text-align: center;
}


.login-button,
.signup-button {
  width: 90px;
  padding: 8px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  background: #FFF;
  border: 1.3px solid #3D3DFF;
  color: #3D3DFF;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

.signup-button {
  background-color: #3D3DFF;
  color: #FFF;
  margin-left: 40px;
}